/* Add any additional styles for the Profile component here */
.profile-container {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #23af79;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    /* margin: auto; */
    margin: 20px auto 0; /* Add margin top here and remove margin-bottom */
    margin-bottom: 20px; /* Add margin bottom here */

}

.logo-image {
    width: 80px; /* Adjust image width as needed */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    margin-bottom: 10px; /* Add some spacing below the logo */
    display: block; /* Ensures the image behaves like a block element */
    /* margin-left: auto; Aligns image to the left within padding */
    /* margin-right: auto; Aligns image to the right within padding */
  }

.profile-container h2 {
    text-align: center;
    color: #333;
}

.user-profile-form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.user-profile-form div {
    margin-bottom: 15px;
}

.user-profile-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.user-profile-form input[type="text"],
.user-profile-form input[type="email"],
.user-profile-form input[type="date"],
.user-profile-form input[type="file"],
.user-profile-form select,
.user-profile-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #555;
}

.user-profile-form textarea {
    resize: vertical;
    min-height: 80px;
}

.user-profile-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.user-profile-form button:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    .user-profile-form {
        padding: 15px;
    }

    .user-profile-form input[type="text"],
    .user-profile-form input[type="email"],
    .user-profile-form input[type="date"],
    .user-profile-form input[type="file"],
    .user-profile-form select,
    .user-profile-form textarea {
        font-size: 14px;
    }

    .user-profile-form button {
        font-size: 14px;
        padding: 10px;
    }
    
}
