/* src/components/Signup.css */

.signup-container {
  max-width: 400px;
  margin: 70px auto; /* Centering the container vertically and horizontally */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  background-image: url('C:\Users\Admin\Contacts\Desktop\College Material\bg5.jpg'); /* Replace with your funky background image path */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.signup-container form div {
  margin-bottom: 15px;
}

.signup-container form label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

.signup-container form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

.signup-container form input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

.signup-container form button {
  width: 100%;
  padding: 10px;
  background-color: #15c573; /* Matching the primary color in the navbar gradient */
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-container form button:hover {
  background-color: #0056b3;
}
